/* modified from https://github.com/microsoft/vscode-extension-samples/blob/main/webview-view-sample/media/vscode.css */
:root {
  --container-paddding: 20px;
  --input-padding-vertical: 2px;
  --input-padding-horizontal: 8px;
  --input-margin-vertical: 4px;
  --input-margin-horizontal: 0;
}

*:focus {
  outline-color: var(--vscode-focusBorder) !important;
}

button {
  border: none;
  border-radius: var(--vscode-cornerRadius-medium);
  padding: var(--input-padding-vertical) var(--input-padding-horizontal);
  width: 100%;
  text-align: center;
  outline: 1px solid transparent;
  outline-offset: 2px !important;
  color: var(--vscode-button-foreground);
  background: var(--vscode-button-background);
}

button:hover {
  cursor: pointer;
  background: var(--vscode-button-hoverBackground);
}

button:focus {
  outline-color: var(--vscode-focusBorder);
}

button.secondary {
  color: var(--vscode-button-secondaryForeground);
  background: var(--vscode-button-secondaryBackground);
}

button.secondary:hover {
  background: var(--vscode-button-secondaryHoverBackground);
}

.gcl-redex {
  cursor: pointer;
  color: var(--vscode-textLink-foreground);
}

.gcl-redex:hover:not(:has(.gcl-redex:hover)) {
  color: var(--vscode-textLink-activeForeground);
  font-weight: bold;
}
